@charset "utf-8";

body {
    background: linear-gradient(#b1e0d8, #e53967);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* opacity: 0; */
    transform: translate(0, 80px);
    transition: all 800ms;
}

.header {
    height: auto;
    text-align: center;
    background-color: #eee;
}

h1 .subtitle {
    font-size: 0.6em;
    font-weight: normal;
}

.content {
    flex: auto;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    text-align: center;
    margin: 10px 0 10px 0;
}

.YurayuraMain {
    max-width: 100%;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.introduce1 p {
    margin-bottom: 100px;
}

.introduce2 p {
    margin-top: 75px;
    margin-bottom: 75px;
}

.slider {
    display: flex;
    visibility: hidden;
}

.slider.slick-initialized {
    visibility: visible;
}

.matching img {
    height: 300px;
    max-height: 100%;
}

.situmon {
    margin-top: 400px;
    margin-bottom: 400px;
}

.zuck {
    margin-bottom: 100px;
}

.memai {
    margin-bottom: 100px;
}

.sibire {
    margin-bottom: 100px;
}

.footer {
    height: auto;
    text-align: center;
    background-color: #888;
    color: #fff;
}

.fadein {
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 800ms;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}